# Python
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
*.db
.DS_Store
.env

# Node
client/node_modules/
client/dist/

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/
*.swp

# Docker
server/requirements.txt.lock 